@import url(./slide.css);

.app-slider {
  width: 100%;

  h1 {
    text-align: center;
  }

  .slider {
    border: 2px solid #000;
    position: relative;
    width: 100%;
    overflow: hidden;

    .slider-track {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      transition: transform 0.5s ease;
    }
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .btn {
      margin: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background-color: #f3f3f3;
      }

      &.inactive {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}
